.parent-container-service-Dark {
    background-color: #1E1E1E;
}

.parent-container-service-Light {
    background-color: white;
}

.services-container {
    max-width: 1100px;
    margin: auto;
    text-align: center;
    padding: 40px 20px;
    /* background-color: #fff; */
}

.services-title {
    font-size: 36px;
    margin-bottom: 20px;
}

.services-description {
    font-size: 16px;
    /* color: #666; */
    margin-bottom: 40px;
}

.services-list {
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
}

.service-card {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.service-card:hover {
    transform: translateY(-10px);
}

.service-icon {

    height: 60px;
    margin-bottom: 20px;
    width: 60px;
}

.service-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.service-description {
    font-size: 14px;
    color: #666;
}



@media screen and (max-width: 640px) {
    .services-list {

        flex-wrap: wrap;
    }


}