.footer-bg-Dark{
    background-color: #1E1E1E;

}


.footer-bg-Light {
    background-color: white;
}


.footer {
    /* background-color: #f9f9f9; */
    padding: 40px 0px 0px 0px;
    text-align: center;
}

/* .footer-logo img {
    max-height: 50px;
} */

.footer-nav {
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
}

.footer-nav a {
    margin: 0 15px;
    /* color: #333; */
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.footer-nav a:hover {
    color: #ff6b35;
}


.social-media a {
    text-decoration: none;
    font-size: 20px;
}


.social-media-parent {
    margin: 30px auto auto auto;
    width: fit-content;
    /* margin: auto; */
    display: flex;
    gap: 5px;
}



.footer-copy {
    padding: 4px 0px;
    background-color: #545454;
    margin-top: 20px;
    color: white;
    font-size: 14px;
}

.footer-copy strong {
    color: #ff6b35;
}



@media screen and (max-width: 640px) {

    .footer-nav {
        flex-direction: column;
        /* flex-wrap: wrap; */
    }

}